langchain
langchain-core
langchain-text-splitters
langchain-groq
langchain-community
langchain-huggingface
langchain-openai
langchain-google-genai
langchain-classic
requests
streamlit
python-dotenv
PyPDF2
python-docx
chromadb
sentence-transformers
faiss-cpu
opencv-python-headless
pydantic
langchain-ollama
langchain-huggingface
docx2txt
google-generativeai
pillow
streamlit-clipboard
plotly
firecrawl-py
beautifulsoup4
torchvision
pypdf
reportlab
kaleido
