langchain
langchain-core
langchain-text-splitters
langchain-groq
langchain-community
langchain-huggingface
langchain-openai
langchain-google-genai
langchain-classic
requests
streamlit
python-dotenv
PyPDF2
python-docx
chromadb
sentence-transformers
faiss-cpu
unstructured
unstructured[pdf]
pydantic
langchain-unstructured
langchain-ollama
langchain-huggingface
docx2txt
crawl4ai
google-generativeai
pillow
streamlit-clipboard
plotly
playwright
firecrawl-py
